[general]
status_path = "~/.local/share/vdirsyncer/status/"

####################
# CONTACTS
####################

[pair contacts]
a = "contacts_local"
b = "contacts_remote"
collections = ["from a", "from b"]

[storage contacts_remote]
type = "carddav"
url = "{{ .carddav_server_url }}"
username = "Hazem"
password.fetch = ["command", "pass", "show", "caldav"]

[storage contacts_local]
type = "filesystem"
path = "~/.local/share/contacts/"
fileext = ".vcf"

####################
# CALENDAR
####################

[pair calendars]
a = "calendars_local"
b = "calendars_remote"
collections = ["from a", "from b"]

[storage calendars_remote]
type = "caldav"
url = "{{ .caldav_server_url }}"
username = "Hazem"
password.fetch = ["command", "pass", "show", "caldav"]

[storage calendars_local]
type = "filesystem"
path = "~/.local/share/calendars/main"
fileext = ".ics"

####################
# TASKS
####################

[pair todoman]
a = "todo_remote"
b = "todoman_local"
collections = ["from a", "from b"]

[storage todo_remote]
type = "caldav"
url = "{{ .caldav_server_url }}"
username = "Hazem"
password.fetch = ["command", "pass", "show", "caldav"]
item_types = ["VTODO"]

[storage todoman_local]
type = "filesystem"
path = "~/.local/share/calendars/todoman"
fileext = ".ics"
