/* Base16 {{scheme-name}} */
/* Author: {{scheme-author}} */

--base00l: #{{base00-hex}};
--base01l: #{{base01-hex}};
--base02l: #{{base02-hex}};
--base03l: #{{base03-hex}};
--base04l: #{{base04-hex}};
--base05l: #{{base05-hex}};
--base06l: #{{base06-hex}};
--base07l: #{{base07-hex}};
--base08l: #{{base08-hex}};
--base09l: #{{base09-hex}};
--base0Al: #{{base0A-hex}};
--base0Bl: #{{base0B-hex}};
--base0Cl: #{{base0C-hex}};
--base0Dl: #{{base0D-hex}};
--base0El: #{{base0E-hex}};
--base0Fl: #{{base0F-hex}};
--base00: #{{base00-hex}};
--base01: #{{base01-hex}};
--base02: #{{base02-hex}};
--base03: #{{base03-hex}};
--base04: #{{base04-hex}};
--base05: #{{base05-hex}};
--base06: #{{base06-hex}};
--base07: #{{base07-hex}};
--base08: #{{base08-hex}};
--base09: #{{base09-hex}};
--base0A: #{{base0A-hex}};
--base0B: #{{base0B-hex}};
--base0C: #{{base0C-hex}};
--base0D: #{{base0D-hex}};
--base0E: #{{base0E-hex}};
--base0F: #{{base0F-hex}};
--baseDCF: #{{base00-hex}}
