# Base16 {{scheme-name}}
# Author: {{scheme-author}}

_gen_bemenu_default_opts() {

local color00='#{{base00-hex}}'
local color01='#{{base01-hex}}'
local color02='#{{base02-hex}}'
local color03='#{{base03-hex}}'
local color04='#{{base04-hex}}'
local color05='#{{base05-hex}}'
local color06='#{{base06-hex}}'
local color07='#{{base07-hex}}'
local color08='#{{base08-hex}}'
local color09='#{{base09-hex}}'
local color0A='#{{base0A-hex}}'
local color0B='#{{base0B-hex}}'
local color0C='#{{base0C-hex}}'
local color0D='#{{base0D-hex}}'
local color0E='#{{base0E-hex}}'
local color0F='#{{base0F-hex}}'

export BEMENU_OPTS="$BEMENU_OPTS"\
"--tb $color03\
 --tf $color06\
 --fb $color00\
 --ff $color06\
 --nb $color00\
 --nf $color04\
 --hb $color02\
 --hf $color0A\
 --sb $color02\
 --sf $color0A\
 --scb $color00\
 --scf $color0E"
}

_gen_bemenu_default_opts
