# vim: filetype=neomuttrc
source /usr/share/mutt-wizard/mutt-wizard.muttrc
macro index,pager A ";<save-message>=Archive<enter>" "move to archive"
set mailcap_path = ~/.config/mutt/mailcap
source /home/electron/.config/mutt/accounts/mail_1.muttrc

macro index,pager i1 '<sync-mailbox><enter-command>source $HOME/.config/mutt/accounts/mail_1.muttrc<enter><change-folder>!<enter>;<check-stats>' "switch to {{ .email_1 }}"
macro index,pager i2 '<sync-mailbox><enter-command>source $HOME/.config/mutt/accounts/mail_2.muttrc<enter><change-folder>!<enter>;<check-stats>' "switch to {{ .email_2 }}"
macro index,pager i3 '<sync-mailbox><enter-command>source $HOME/.config/mutt/accounts/mail_3.muttrc<enter><change-folder>!<enter>;<check-stats>' "switch to {{ .email_3 }}"
macro index,pager i4 '<sync-mailbox><enter-command>source $HOME/.config/mutt/accounts/mail_4.muttrc<enter><change-folder>!<enter>;<check-stats>' "switch to {{ .email_4 }}"

bind index,pager V  noop
macro index,pager V "<view-attachments><search>html<enter><view-mailcap><exit>"

macro index,pager a "<enter-command>set my_pipe_decode=\$pipe_decode pipe_decode<return><pipe-message>khard add-email<return><enter-command>set pipe_decode=\$my_pipe_decode; unset my_pipe_decode<return>" "add the sender address to khard"
