background            = #{{base00-hex}}
foreground            = #{{base05-hex}}
selection-background  = #{{base05-hex}}
selection-foreground  = #{{base00-hex}}
cursor-color          = #{{base05-hex}}
