[general]
status_path = "~/.local/share/vdirsyncer/status/"

####################
# CONTACTS
####################

[storage contacts_remote]
type = "carddav"
url = "{{ .carddav_server_url }}"
username = "{{ .short_name }}"
password.fetch = ["command", "pass", "show", "Hazem"]

[storage contacts_local]
type = "filesystem"
path = "~/.local/share/contacts/"
fileext = ".vcf"

[pair contacts]
a = "contacts_local"
b = "contacts_remote"
collections = ["from a", "from b"]

####################
# CALENDAR
####################

## MAIN

[storage calendars_remote]
type = "caldav"
url = "{{ .caldav_server_url }}"
username = "{{ .short_name }}"
password.fetch = ["command", "pass", "show", "Hazem"]

[storage calendars_local]
type = "filesystem"
path = "~/.local/share/calendars/main/"
fileext = ".ics"

[pair calendars]
a = "calendars_local"
b = "calendars_remote"
collections = ["from a", "from b"]

## EVENTS

[storage events_local]
type = "singlefile"
path = "~/.local/share/calendars/main/events.ics"

[pair events]
a = "calendars_remote"
b = "events_local"
collections = null

####################
# TASKS
####################

## TODOTXT

[storage todo_remote]
type = "caldav"
url = "{{ .todo_server_url }}"
item_types = ["VTODO"]
username = "{{ .short_name }}"
password.fetch = ["command", "pass", "show", "Hazem"]

[storage todotxt_local]
type = "singlefile"
path = "~/.local/share/calendars/todotxt/%s.ics"

[pair todotxt]
a = "todo_remote"
b = "todotxt_local"
collections = ["from a", "from b"]
conflict_resolution = "b wins"

## TODOMAN

# [storage todo_remote]
# type = "caldav"
# url = "{{ .todo_server_url }}"
# item_types = ["VTODO"]
# username = "{{ .short_name }}"
# password.fetch = ["command", "pass", "show", "Hazem"]

[storage todoman_local]
type = "filesystem"
path = "~/.local/share/calendars/todoman"
fileext = ".ics"

[pair todoman]
a = "todo_remote"
b = "todoman_local"
collections = ["from a", "from b"]
conflict_resolution = "a wins"
