#!/bin/sh

ICSSUM="$HOME/.local/share/calendars/todotxt/ICSSUM"
TODOSUM="$HOME/.local/share/calendars/todotxt/TODOSUM"
TODOICS="$HOME/.local/share/calendars/todotxt/{{ .server_path }}.ics"
TODOFILE="$HOME/Documents/Notes/Personal/Journal/GTD/TODO/todo.txt"

md5sum -c --quiet $ICSSUM
if [ $? -eq 1 ]; then
	$HOME/.local/bin/scripts/ics2todotxt $TODOICS $TODOFILE
	topydo -t $TODOFILE sort
	md5sum $TODOICS > $ICSSUM
	md5sum $TODOFILE > $TODOSUM
else
	md5sum -c --quiet $TODOSUM
	if [ $? -eq 1 ]; then
	topydo -t $TODOFILE sort
	topydo -t $TODOFILE ls -f ical > $TODOICS
	truncate -s -1 $TODOICS
	md5sum $TODOICS > $ICSSUM
	md5sum $TODOFILE > $TODOSUM
	fi
fi
