# A glob expression which matches all directories relevant.
# path = "~/.local/share/calendars/*"
path = "~/.local/share/calendars/todoman/{{ .todo_path }}"
date_format = "%Y-%m-%d"
time_format = "%H:%M"
default_list = "{{ .cal_path }}"
default_priority = 1
default_due = 0
humanize = True
color = "always"
