[database]
path=.local/share/mail

[user]
name=Hazem Hussien
primary_email={{ .email_1 }}
other_email={{ .email_2 }};{{ .email_3 }};{{ .email_4 }};

[new]
tags=unread;inbox;
ignore=.mbsyncstate;.uidvalidity

[search]
exclude_tags=deleted;spam;

[maildir]
synchronize_flags=true

[crypto]
gpg_path=.local/share/gnupg
