#!/bin/zsh

export OPENAI_API_KEY={{ .openai | quote }}
export LLM_NVIM_HF_API_TOKEN={{ .hfcc_token | quote }}
export BUKUDING_CLIENT={{ .bukuding_client | quote }}
export BUKUDING_TOKEN={{ .bukuding_token | quote }}
export HYPOTHESIS_USRNAME={{ .hypothesis_user | quote }}
export HYPOTHESIS_PASS={{ .hypothesis_pass | quote }}
export KARAKEEP_SERVER_ADDR="http://127.0.0.1:3000"
export KARAKEEP_API_KEY={{ .hoarder_token | quote }}
export KARAKEEP_PYTHON_API_KEY="{{ .hoarder_token | quote }}" 
export KARAKEEP_PYTHON_API_BASE_URL="http://127.0.0.1:3000/api/v1/"
export KARAKEEP_PYTHON_API_VERIFY_SSL="false"
export KARAKEEP_PYTHON_API_DISABLE_RESPONSE_VALIDATION="true"
export LINKWARDEN_TOKEN={{ .linkwarden_token | quote }}
export DEEPSEEK_API_KEY={{ .deep | quote }}
