#!/bin/zsh

export LLM_NVIM_API_TOKEN={{ .hfcc_token | quote }}
export BUKUDING_CLIENT={{ .bukuding_client | quote }}
export BUKUDING_TOKEN={{ .bukuding_token | quote }}
export HYPOTHESIS_USRNAME={{ .hypothesis_user | quote }}
export HYPOTHESIS_PASS={{ .hypothesis_pass | quote }}
