#!/bin/zsh

export OPENAI_API_KEY={{ .openai | quote }}
export LLM_NVIM_HF_API_TOKEN={{ .hfcc_token | quote }}
export BUKUDING_CLIENT={{ .bukuding_client | quote }}
export BUKUDING_TOKEN={{ .bukuding_token | quote }}
export HYPOTHESIS_USRNAME={{ .hypothesis_user | quote }}
export HYPOTHESIS_PASS={{ .hypothesis_pass | quote }}
export HOARDER_SERVER_ADDR="http://127.0.0.1:3000"
export HOARDER_API_KEY={{ .hoarder_token | quote }}
