config.colors = {
foreground    = '#{{base05-hex}}',
background    = '#{{base00-hex}}',
cursor_bg     = '#{{base05-hex}}',
cursor_fg     = '#{{base05-hex}}',
cursor_border = '#{{base05-hex}}',
selection_bg  = '#{{base05-hex}}',
selection_fg  = '#{{base00-hex}}',

tab_bar = {
background = '#{{base00-hex}}',
  active_tab = {
    bg_color = '#{{base03-hex}}',
    fg_color = '#{{base05-hex}}',
  },
  inactive_tab = {
    bg_color = '#{{base00-hex}}',
    fg_color = '#{{base05-hex}}',
  },
  inactive_tab_hover = {
    bg_color = '#{{base03-hex}}',
    fg_color = '#{{base05-hex}}',
    italic = true,
  },
  new_tab = {
    bg_color = '#{{base00-hex}}',
    fg_color = '#{{base05-hex}}',
  },
  new_tab_hover = {
    bg_color = '#{{base03-hex}}',
    fg_color = '#{{base05-hex}}',
    italic = true,
  }
},

ansi = {
  '#{{base00-hex}}',
  '#{{base08-hex}}',
  '#{{base0B-hex}}',
  '#{{base0A-hex}}',
  '#{{base0D-hex}}',
  '#{{base0E-hex}}',
  '#{{base0C-hex}}',
  '#{{base05-hex}}'
},

brights = {
  '#{{base03-hex}}',
  '#{{base08-hex}}',
  '#{{base0B-hex}}',
  '#{{base0A-hex}}',
  '#{{base0D-hex}}',
  '#{{base0E-hex}}',
  '#{{base0C-hex}}',
  '#{{base07-hex}}'
}
}
