body {
	font-family: monospace;
	margin: 0;
	padding: 0;
	line-height: 1.4;
}

#sidebar ul {
	list-style: none;
	margin: 2em;
	padding: 0;
}

#sidebar ul li {
	margin: 0.5em 0;
}

div#items {
	padding: 0 2em;
}

body.noframe div#sidebar {
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 20%;
	z-index: 100;
}

body.noframe div#items {
	height: 100%;
	left: 20%;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	right: 0;
	top: 0;
}

body.noframe div#items.nosidebar {
	left: 0;
}

body.frame {
	overflow: auto;
}

body.frame #sidebar br {
	display: none;
}
