IMAPStore {{ .email_1 }}-remote
Host imap.gmail.com
Port 993
User {{ .email_1 }}
PassCmd "pass {{ .email_1 }}"
AuthMechs LOGIN
TLSType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

MaildirStore {{ .email_1 }}-local
Subfolders Verbatim
Path ~/.local/share/mail/{{ .email_1 }}/
Inbox ~/.local/share/mail/{{ .email_1 }}/INBOX

Channel {{ .email_1 }}
Expunge Both
Far :{{ .email_1 }}-remote:
Near :{{ .email_1 }}-local:
Patterns * !"[Gmail]/All Mail"
Create Both
SyncState *
MaxMessages 0
ExpireUnread no
# End profile

IMAPStore {{ .email_2 }}-remote
Host imap.gmail.com
Port 993
User {{ .email_2 }}
PassCmd "pass {{ .email_2 }}"
AuthMechs LOGIN
TLSType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

MaildirStore {{ .email_2 }}-local
Subfolders Verbatim
Path ~/.local/share/mail/{{ .email_2 }}/
Inbox ~/.local/share/mail/{{ .email_2 }}/INBOX

Channel {{ .email_2 }}
Expunge Both
Far :{{ .email_2 }}-remote:
Near :{{ .email_2 }}-local:
Patterns * !"[Gmail]/All Mail"
Create Both
SyncState *
MaxMessages 0
ExpireUnread no
# End profile

# IMAPStore {{ .email_3 }}-remote
# Host {{ .host }}
# Port 993
# User {{ .email_3 }}
# PassCmd "pass {{ .email_3 }}"
# AuthMechs LOGIN
# TLSType IMAPS
# TLSVersions -1.2
# CertificateFile /etc/ssl/certs/ca-certificates.crt
# 
# MaildirStore {{ .email_3 }}-local
# Subfolders Verbatim
# Path ~/.local/share/mail/{{ .email_3 }}/
# Inbox ~/.local/share/mail/{{ .email_3 }}/INBOX
# 
# Channel {{ .email_3 }}
# Expunge Both
# Far :{{ .email_3 }}-remote:
# Near :{{ .email_3 }}-local:
# Patterns * !"[Gmail]/All Mail"
# Create Both
# SyncState *
# MaxMessages 0
# ExpireUnread no
# # End profile
# 
# IMAPStore {{ .email_4 }}-remote
# Host imap.gmail.com
# Port 993
# User {{ .email_4 }}
# PassCmd "pass {{ .email_4 }}"
# AuthMechs LOGIN
# TLSType IMAPS
# CertificateFile /etc/ssl/certs/ca-certificates.crt
# 
# MaildirStore {{ .email_4 }}-local
# Subfolders Verbatim
# Path ~/.local/share/mail/{{ .email_4 }}/
# Inbox ~/.local/share/mail/{{ .email_4 }}/INBOX
# 
# Channel {{ .email_4 }}
# Expunge Both
# Far :{{ .email_4 }}-remote:
# Near :{{ .email_4 }}-local:
# Patterns * !"[Gmail]/All Mail"
# Create Both
# SyncState *
# MaxMessages 0
# ExpireUnread no
# # End profile
# 
# IMAPStore {{ .email_5 }}-remote
# Host outlook.office365.com
# Port 995
# User {{ .email_5 }}
# PassCmd "pass {{ .email_5 }}"
# AuthMechs LOGIN
# TLSType IMAPS
# CertificateFile /etc/ssl/certs/ca-certificates.crt
# 
# MaildirStore {{ .email_5 }}-local
# Subfolders Verbatim
# Path ~/.local/share/mail/{{ .email_5 }}/
# Inbox ~/.local/share/mail/{{ .email_5 }}/INBOX
# 
# Channel {{ .email_5 }}
# Expunge Both
# Far :{{ .email_5 }}-remote:
# Near :{{ .email_5 }}-local:
# Patterns * !"[Gmail]/All Mail"
# Create Both
# SyncState *
# MaxMessages 0
# ExpireUnread no
# # End profile
