@import "colors.css";
* {
    border: none;
    border-radius: 0;
	  font-size: 10px;
	  font-family: Hack, "Font Awesome 5 Free";
    color: @base07;
    /*font-family: Fira Sans, Fira Code NerdFont; */
    font-size: 8pt;
    margin: 0px 5px 0px 5px;
}

window#waybar.top {
    color: @base04;
    /* background-color: alpha(@base00, 0.88); */
    background-color: alpha(@base00, 1);
    border-bottom: 2px solid @base01;
}
/* window#waybar.bottom {
    color: @text_color;
    background-color: alpha(@bg_color, 0.88);
    border-top: 2px solid @selected_bg_color;
} */

window#waybar.hidden {
    opacity: 0;
}

#custom-preferredplayer {
    margin-right: 8px;
    margin-left: 10px;
}
#custom-player {
    margin-right: 10px;
    margin-left: 8px;
}

#workspaces button {
    color: @base0D;
    margin: 0px 0px 0px 0px;
}

#workspaces button.visible {
    /* background-color: @base00; */
    color: @base07;
    background-color: @base0A;
}

#workspaces button.focused {
    /* background-color: @base03; */
    color: @base07;
    background-color: @base03;
}

/* #cpu {
    margin-right: 5px;
}
#memory {
    margin-left: 5px;
}

#temperature.cpu {
    margin-right: 3px;
}

#temperature.gpu {
    margin-left: 3px;
} */
